@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
	/*background-image: url(../Imagenes/fondo.jpg);*/
	background-size:100% 100%;
	background-repeat:no-repeat;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

nav{
	display:block;
	position:fixed;
	width: 300px;
	height: 100%;
	background-color: rgba(231, 162, 203, 0.9);
}

ul{
	margin-top:150px;
	list-style: none;
	display:block
}

li{
	width:100%;
	height: 50px;
	border-bottom: 1px solid #7A5804;
	overflow:hidden;
}

p.menu{
	position: relative;
	padding:16px;
	padding-right: 25px;
	float: right;
	color: white;
	opacity: 1;
	font-size:  1.2 em;
}

.pacifico{
	font-family: 'Pacifico', cursive;
}
.slab{
	font-family: 'Roboto Slab', serif !important;
}

.cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.first{
	background-image: url(../Imagenes/donuts.jpg); 
}
.second{
	background-image: url(../Imagenes/sweets.jpg); 
	top:100%;
	height: 105%;
}
.second h1, .second h3, .second h2{
	font-size: 2.5em;
	margin: 1em !important;
	padding-left: 15px;
}

.title.center{
	text-align: center;
	height: 1em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 278px;
}
.top-space{
	margin-top: 60px;
}
